In [1]:
import pandas as pd
import numpy as np
from math import sqrt
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
movies_df=pd.read_csv(r"D:\New folder\movies.data.csv", sep = '::', engine='python', names = ['movieId','title','genres'],encoding="latin")

In [3]:
movies_df.head()

  movieId                               title                        genres
0    ï»¿1                    Toy Story (1995)   Animation|Children's|Comedy
1       2                      Jumanji (1995)  Adventure|Children's|Fantasy
2       3             Grumpier Old Men (1995)                Comedy|Romance
3       4            Waiting to Exhale (1995)                  Comedy|Drama
4       5  Father of the Bride Part II (1995)                        Comedy

In [4]:
ratings_df = pd.read_csv(r"D:\New folder\ratings.dat", sep = '::', engine='python', names = ['userId','movieId','rating','timestamp'],)

In [5]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [6]:
# Remove year from the Title column and store it in a new column
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False)
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)',expand=False)
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())

# Split the values in the Genre column
#movies_df['Genre'] = movies_df.Genre.str.split('|')

movies_df.head()

,movieId,title,genres,year
0,ï»¿1,Toy Story (1995),Animation|Children's|Comedy,1995
1,2,Jumanji (1995),Adventure|Children's|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [7]:
movies_df = movies_df.drop('genres', axis=1)

In [8]:
movies_df.head()

  movieId                               title  year
0    ï»¿1                    Toy Story (1995)  1995
1       2                      Jumanji (1995)  1995
2       3             Grumpier Old Men (1995)  1995
3       4            Waiting to Exhale (1995)  1995
4       5  Father of the Bride Part II (1995)  1995

In [9]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [10]:
ratings_df = ratings_df.drop('timestamp', axis=1)

In [11]:
ratings_df.head()

   userId  movieId  rating
0       1     1193       5
1       1      661       3
2       1      914       3
3       1     3408       4
4       1     2355       5

In [12]:
userInput = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

In [13]:
#Filtering out the movies by title
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]
inputId
inputMovies = pd.merge(inputId, inputMovies)
inputMovies = inputMovies.drop('year',axis=1)
inputMovies

Empty DataFrame
Columns: [movieId, title, rating]
Index: []

In [14]:
#Filtering out users that have watched movies that the input has watched and storing it
userSubset = ratings_df[ratings_df['movieId'].isin(inputMovies['movieId'].tolist())]
userSubset.head()

Empty DataFrame
Columns: [userId, movieId, rating]
Index: []

In [15]:
userSubsetGroup = userSubset.groupby(['userId'])

In [16]:
userSubsetGroup.get_group(1130)

KeyError: 1130